{%extends "NOGestionnaireBundle::layout.html.twig" %}
{% block title %}
	Ajout de tache - {{ parent() }}
{% endblock %}

{% block body %}
	<div class="col-sm-7">
	{{ include('NOGestionnaireBundle:Projet:formAjoutTaches.html.twig') }}
	{% block bouton %}
		<a href="{{ path('no_gestionnaire_suivi', {'id': projet.id}) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> Retour au suivi du projet</a>
	{% endblock %}
	</div>
	<div class="col-sm-5">
		<h3>Liste des tâches</h3>

		
			{% for tache in taches %}
				{% if tache.tacheMeres is null %}
					<p style="color: red">{{ tache.nomTache }}</p>
				{% else %}
					<p style="margin-left: 50px">{{ tache.nomTache }}</p>
				{% endif %}
			{% endfor %}
	</div>
{% endblock %}