{%extends "NOGestionnaireBundle::layout.html.twig" %}
{% block title %}
	Ajout du nombre de jours vendus - {{ parent() }}
{% endblock %}

{% block body %}
	<h3>Jours vendus</h3>
	<div class="col-sm-12">
	<table class="table table-bordered table-condensed table-striped">
		<tr class="info">
			<th style="width: 80%;">Liste des tâches</th>
			{% for profil in profilsProjets %}
				<th style="width: 5%;">{{ profil.profil.nomProfil }}</th>
			{% endfor %}
		</tr>
		{% for tache in taches %}
			{% if tache.tacheMeres is not null %}
				<tr>
					<td>{{ tache.nomTache }}</td>
				{% for profil in profilsProjets %}
					<td>{{ render(controller('NOGestionnaireBundle:FormJoursVendus:createForm', { 'tacheId': tache.id , 'profilId': profil.profil.id, 'idProjet': projet.id})) }}</td>
				{% endfor %}
				</tr>
			{% endif %}
		{% endfor %}
		<tr>
			<td>
				<form name="no_gestionnairebundle_nbjourvendus_create" method="post" action="">
				<input type="submit" value="Tout valider" onclick="envoiForm('{{ path('no_gestionnaire_jours_vendus_create', {'idProjet': projet.id}) }}')">
				</form>
			</td>
		</tr>
	</table>
	</div>
	<a href="{{ path('no_gestionnaire_suivi', {'id': projet.id}) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> Retour au suivi du projet</a>

	<script type="text/javascript">
	function envoiForm(url){
		document.no_gestionnairebundle_nbjourvendus_create.action = url;
		document.no_gestionnairebundle_nbjourvendus_create.submit();
	}
	</script>
{% endblock %}