{%extends "NOGestionnaireBundle::layout.html.twig" %}
{% block title %}
	Ajout du nombre de jours vendus - {{ parent() }}
{% endblock %}

{% block body %}
	<h3>Jours vendus</h3>
	<div class="col-sm-12">
	<table class="table table-bordered table-condensed table-striped">
		<tr class="info">
			<th style="width: 80%;">Liste des tâches</th>
			{% for profil in profilsProjets %}
				<th style="width: 5%;">{{ profil.profil.nomProfil }}</th>
			{% endfor %}
		</tr>
		{% for tache in taches %}
			{% if tache.tacheMeres is not null %}
				<tr>
					<td>{{ tache.nomTache }}</td>
				{% for profil in profilsProjets %}
					<td>{{ render(controller('NOGestionnaireBundle:FormJoursVendus:createForm', { 'tacheId': tache.id , 'profilId': profil.profil.id, 'idProjet': projet.id})) }}</td>
				{% endfor %}
				</tr>
			{% endif %}
		{% endfor %}
	</table>
	</div>
{% endblock %}
{% block bouton %}
	<a href="{{ path('no_gestionnaire_suivi', {'id': projet.id}) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> Retour au suivi du projet</a>
{% endblock %}