{%extends "NOGestionnaireBundle::layout.html.twig" %}
{% block title %}
	Ajout du nombre de jours vendus - suivi - {{ parent() }}
{% endblock %}

{% block body %}
<div class="col-sm-3">
	{{ form(formJoursVendus) }}
</div>
	<div class="col-sm-9">
	<table class="table table-bordered table-condensed table-striped">
		<tr class="info">
			<th style="width: 80%;">Liste des tâches</th>
			{% for profil in profilsProjets %}
				<th style="width: 5%;">{{ profil.profil.nomProfil }}</th>
			{% endfor %}
		</tr>
		{% for tache in taches %}
			{% if tache.niveau >= 2 %}
				<tr>
					<td>{{ tache.nomTache }}</td>
				{% for jour in tache.joursVendus|sort %}
					<td>{{ jour.joursVendus|number_format(0, '.') }}</td>
				{% endfor %}
				</tr>
			{% endif %}
		{% endfor %}
	</table>
	</div>
	<a href="{{ path('no_gestionnaire_suivi', {'id': projet.id}) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> Retour au suivi du projet</a>
{% endblock %}