{%extends "NOGestionnaireBundle::layout.html.twig" %}
{% block title %}
	Ajout du nombre de jours vendus - suivi - {{ parent() }}
{% endblock %}

{% block body %}
	{{ form_start(formJoursVendus) }}
	<table class="table table-bordered table-condensed table-striped">
		<tr class="info">
			<th style="width: 80%;">Liste des tâches</th>
			{% for profil in profilsProjets %}
				<th style="width: 5%;">{{ profil.profil.nomProfil }}</th>
			{% endfor %}
		</tr>
		{% for tache in taches %}
			{% if tache.niveau >= 2 %}
				<tr>
					<td>{{ tache.nomTache }}</td>
					<td>{{form_widget(formJoursVendus.joursVendus)}}</td>
					<td></td>
					<td></td>
				</tr>
			{% endif %}
		{% endfor %}
	</table>
	{{ form_widget(formJoursVendus.Ajouter) }}
	{{ form_rest(formJoursVendus) }}
	{{ form_end(formJoursVendus) }}
	<a href="{{ path('no_gestionnaire_suivi', {'id': projet.id}) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> Retour au suivi du projet</a>
{% endblock %}