{%extends "NOGestionnaireBundle::layout.html.twig" %}
{% block title %}
	Ajout de profil avec tarif - {{ parent() }}
{% endblock %}

{% block body %}
	{{ form(formTarif) }}
	
	{% for tarif in tarifs %}
		<p>{{ tarif.profil.nomProfil }} {{ tarif.tarif }} €</p>
	{% endfor %}
	{% block bouton %}
		<a href="{{ path('no_gestionnaire_suivi', {'id': projet.id}) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> Retour au suivi du projet</a>
	{% endblock %}
{% endblock %}