{% extends "NOGestionnaireBundle::layout.html.twig" %}
{% block title %}
	Ajout de profil avec tarif - {{ parent() }}
{% endblock %}

{% block body %}
	<div class="col-sm-6">
		{{ include('NOGestionnaireBundle:Projet:formTarif.html.twig') }}
	{% block bouton %}
		<a href="{{ path('no_gestionnaire_suivi', {'id': projet.id}) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> Retour au suivi du projet</a>
	{% endblock %}
	</div>
	<div class="col-sm-6">
		<h3>Liste des profils sur le projet</h3>
	{% for tarif in tarifs %}
		<p>{{ tarif.profil.nomProfil }} {{ tarif.tarif }} €</p>
	{% endfor %}
	</div>
{% endblock %}