{% extends 'NOGestionnaireBundle::layout.html.twig' %}

{% block body %}
<h3 class="col-sm-offset-3">Connexion au gestionnaire</h3>
<div class="well col-sm-6 col-sm-offset-3">
	<form action="{{ path("fos_user_security_check") }}" method="post">
	    {% if csrf_token %}
	        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
	    {% endif %}
	<div class="form-group">
	    <label for="username" class="col-sm-3">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
	    <input type="text" id="username" class="col-sm-9" name="_username" value="{{ last_username }}" required="required" />
	</div>
	<div class="form-group">
	    <label for="password" class="col-sm-3">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
	    <input type="password" id="password" class="col-sm-9" name="_password" required="required" />
	</div>
	<div class="form-group">
	    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
	    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
	</div>
	    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
	</form>
</div>
{% endblock %}