<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<title>{% block title %}Gestionnaire de projet Norsys{% endblock %}</title>
</head>
<body>
	<div style="text-align: right; background-color:#eee">
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
            <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a> | 
			<a href="{{ path('fos_user_profile_show') }}">Mon compte</a>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a> |
			<a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
        {% endif %}
	</div>
	<div class="jumbotron" style="text-align: center">
		<h1 style="text-align: center">Gestionnaire de projet Norsys</h1>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-2">
				<h3>Menu</h3>
				<div class="well">
					{{ render(controller('NOGestionnaireBundle:Menu:menu')) }}
					<hr>
					<ul class="nav nav-pills nav-stacked">
						<li><a href="{{ path('no_gestionnaire_ajout') }}">Page d'ajout de projet</a></li>
						<li><a href="{{ path('no_gestionnaire_admin') }}">Page administrateur</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-10">
				{% block body %}
				{% endblock %}
			</div>
		</div>
	</div>
</body>
</html>